@import "~bootstrap/dist/css/bootstrap.min.css";
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  color: #fff;
}

:root{
    --md-primary:rgb(240,152,25);
    --md-secondary:rgb(251,126,253);

    --ad-skyblue:#6199e8;
    --ad-dullsand:#b3b6a1;
    --ad-navalnavy:#161f30;
    --ad-hivizgreen:#e4fbb6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--lab-font-montserrat)!important;
    font-weight: 700;
}

p {
    font-family: var(--lab-font-inter)!important;
    font-weight: 400;
}