.main{
    display: flex;
    height: 100vh;
    background: linear-gradient(135deg, rgba(240,152,25,.6) 15%, rgba(251,126,253,.6)), url('/image/beachbg.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 3rem;
    margin-block: .2rem;
    color: #fff;
}
.description{
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    font-style: italic;
    text-align:center;
    text-decoration: none;
}

.button{
    margin-top: 1rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
    text-decoration: none;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}